.botao {
    background-color: #9885f0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 150;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    padding-top: 40px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.botao:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #000;
    border: 1px solid green;
}